<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/adminpage.css" />
		<link rel="icon" type="image/x-icon" href="/images/myfavicon.ico" />
	</head>
	<body>
		<%- include('templates/navbar') %>
		<div class="current-user-container">
			<h1>Current Users</h1>
			<% users_list.forEach(user => { %>
			<div class="user-info">
				<div class="main-info">
					<div class="username"><%= user.username %></div>
					<div class="status <%= user.member_status %>">(<%= user.member_status %>)</div>
				</div>
				<div class="date-joined"><%= user.date_joined %></div>
			</div>
			<% }) %>
		</div>
	</body>
</html>
