<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/messages-page.css" />
		<link rel="icon" type="image/x-icon" href="/images/myfavicon.ico" />
	</head>
	<body class="message_list">
		<%
			const pngHashMap = {
				0: 'portal-pfp.png', // Default PNG
				1: 'one.png',
				2: 'two.png',
				3: 'three.png',
				4: 'four.png',
				5: 'five.png',
				6: 'six.png',
				7: 'seven.png',
				8: 'eight.png',
				9: 'nine.png',
				10: 'ten.png'
			};
		%>
		<div class="navbar">
			<div class="nav-left">
				<a href="/" class="nav-opt-container">
					<img id="home-icon" src="/images/cake.png" alt="home icon" />
					<span class="home">HOME</span>
				</a>
			</div>
			<div class="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<div class="nav-right">
				<% if(user.member_status == 'admin') { %>
				<a href="/admin-access" class="nav-opt-container">
					<img id="admin-icon" src="/images/admin.svg" alt="admin-icon" />
					<span class="admin-mode">ADMIN PANEL</span>
				</a>
				<% } %>
				<a href="/auth-status" class="nav-opt-container">
					<img id="member-icon" src="/images/star.svg" alt="membership-icon" />
					<span class="auth-status-btn">MEMBERSHIP</span>
				</a>
				<a href="/profile" class="nav-opt-container">
					<img id="profile-icon" src="/images/profile.svg" alt="profile-icon" />
					<span class="profile-btn">PROFILE</span>
				</a>
				<a href="/logout" class="nav-opt-container">
					<img id="logout-icon" src="/images/exit.png" alt="exit-icon" />
					<span class="logout-btn">LOG OUT</span>
				</a>
			</div>
			<div class="nav-right-mobile">
				<% if(user.member_status == 'admin') { %>
				<a href="/admin-access" class="nav-opt-container">
					<img id="admin-icon" src="/images/admin.svg" alt="admin-icon" />
					<span class="admin-mode">ADMIN PANEL</span>
				</a>
				<% } %>
				<a href="/auth-status" class="nav-opt-container">
					<img id="member-icon" src="/images/star.svg" alt="membership-icon" />
					<span class="auth-status-btn">MEMBERSHIP</span>
				</a>
				<a href="/profile" class="nav-opt-container">
					<img id="profile-icon" src="/images/profile.svg" alt="profile-icon" />
					<span class="profile-btn">PROFILE</span>
				</a>
				<a href="/logout" class="nav-opt-container">
					<img id="logout-icon" src="/images/exit.png" alt="exit-icon" />
					<span class="logout-btn">LOG OUT</span>
				</a>
			</div>
		</div>

		<div class="main-message-page-container">
			<header>
				<% if(user.member_status == 'traveler') { %>
					<div class="texts">
						<h1>A <span class="member">MEMBERS ONLY</span> Clubhouse</h1>
						<h2>All <span id="traveler">travelers</span> can leave a post.</h2>
						<h2>But only <span id="member">members</span> can share the memory.</h2>
					</div>
				<% } else { %>
					<div class="texts">
						<h1>Welcome to <span class="member">BEBOP</span> Paradise</h1>
						<h2>Please don't terrorize other <span id="traveler">travelers</span>.</h2>
						<h2>Share <span id="member">your</span> darke- just kidding, come say hi! </h2>
					</div>
				<% } %>
			</header>
			<% messages.forEach(msg => { %>
			<div class="message-container">
				<div class="message-info">
					<div class="name-container">
						<p class="username <%= msg.user.member_status %>"><%- msg.user.username %></p>
					</div>
					<% if(msg.user.member_status == 'member') { %>
						<img class="custom pfp" src="/images/profile-images/<%= pngHashMap[msg.user.profile_pic] %>" alt="pfp" />
					<% } else { %>
						<img class="default pfp" src="/images/profile-images/portal-pfp.png" alt="pfp" />
					<% } %>

					<% if(user.member_status == 'admin') { %>
					<div class="delete-btn-container">
						<div class="delete-btn"><a href="/delete/<%= msg._id %>">DELETE</a></div>
					</div>
					<% } else { %>
						<% if(msg.user.member_status == 'member') { %>
							<div class="bars"> ビバップ </div>
						<% } else { %>
							<div class="bars"> 
								<div class="bar1"></div>
								<div class="bar2"></div>
							</div>
						<% } %>
					<% } %>
				</div>
				<div class="message-texts">
					<p class="title"><%- msg.title %></p>
					<div class="texts-area">
						<p class="text"><%- msg.message %></p>
					</div>
					<p class="date"><%= msg.format_date %></p>
				</div>
			</div>
			<% }) %>
		</div>

		<div class="message-form-container">
			<form action="/message-post" method="post">
				<input type="text" name="title" id="title" placeholder="What's on your mind?" minlength="2" required />
				<textarea name="message" id="message" maxLength="200" placeholder="Prescribe some details, <%= user.username %>!" required></textarea>
				<button>Send</button>
			</form>
		</div>

		<!-- Below is hidden. Only used for js to grab info (hide_details.js) -->
		<div class="membership" style="display: none"><%= user.member_status %></div>
		<div class="pagination-navigation">
			<!-- Render pagination navigation -->
			<ul class="pagination">
				<!-- PREV -->
				<% if (currentPage > 1) { %>
					<li><a href="/?page=<%= currentPage - 1 %>">Prev</a></li>
				<% } %>
				<!-- FIRST -->
				<% if (currentPage == 1) { %>
					<li><a class="active" href="/?page=1">1</a></li>
				<% } else { %>
					<li><a href="/?page=1">1</a></li>
				<% } %>

				<!-- 
					* We determine the current page number. 
					* If the current page number is less than 2, we generate pagination links from 1 to current_page + 1.
					* If the current page number is 2 or greater, we start generating pagination links from current_page - 1 to current_page + 1.
					* This approach ensures that the previous links up to current_page - 1 are hidden when applicable.
				-->
				<% let i = (Number(currentPage) > 2 ? Number(currentPage) - 1 : 2) %> 

				<!-- ... -->
				<% if (i !== 2) { %>
					 <li class="disabled">...</li>
				<% } %>
				<!-- REST OF LIST (up to established limit)-->
				<% for (; i <= (Number(currentPage) + 1) && i <= totalPages - 1; i++) { %>
					<% if (i == currentPage) { %>
						<li><a class="active"><%= i %></a></li>
					<% } else { %>
						<li><a href="/?page=<%= i %>" <%= i === currentPage ? 'class="active"' : '' %>><%= i %></a></li>
					<% } %>	
					<!-- ... -->
					<% if (i == Number(currentPage) + 1 && i < totalPages) { %>
						<li class="disabled">...</li>
				  <% } %>
				<% } %>

				<!-- LAST -->
				<% if (currentPage == totalPages && currentPage !== 1) { %>
					<li><a class="active" href="/?page=<%= totalPages %>"><%= totalPages %></a></li>
				<% } else { %>
					<% if (currentPage !== 1) { %>
						<li><a href="/?page=<%= totalPages %>"><%= totalPages %></a></li>
					<% } %>
				<% } %>

				<!-- NEXT -->				
				<% if (currentPage < totalPages) { %>
					<li><a href="/?page=<%= currentPage + 1 %>">Next</a></li>
				<% } %>
			</ul>
			<a class="github-link" href="https://github.com/NovaCat35/members-only" target="blank"><img id="github-icon" src="/images/github.svg" alt="github icon"/></a>
		</div>
	</body>
	<script src="/javascripts/hide_details.js"></script>
	<script src="/javascripts/hamburger.js"></script>
</html>
