<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/messages-page.css" />
		<link rel="icon" type="image/x-icon" href="/images/myfavicon.ico" />
	</head>
	<body class="message_list">
		<div class="navbar">
			<div class="nav-left">
				<a href="/" class="nav-opt-container">
					<img id="home-icon" src="/images/cake.png" alt="home icon" />
					<span class="home">HOME</span>
				</a>
			</div>
			<div class="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<div class="nav-right">
				<% if(user.member_status == 'admin') { %>
				<a href="/admin-access" class="nav-opt-container">
					<img id="admin-icon" src="/images/admin.svg" alt="admin-icon" />
					<span class="admin-mode">ADMIN PANEL</span>
				</a>
				<% } %>
				<a href="/auth-status" class="nav-opt-container">
					<img id="member-icon" src="/images/star.svg" alt="membership-icon" />
					<span class="auth-status-btn">MEMBERSHIP</span>
				</a>
				<a href="/profile" class="nav-opt-container">
					<img id="profile-icon" src="/images/profile.svg" alt="profile-icon" />
					<span class="profile-btn">PROFILE</span>
				</a>
				<a href="/logout" class="nav-opt-container">
					<img id="logout-icon" src="/images/exit.png" alt="exit-icon" />
					<span class="logout-btn">LOG OUT</span>
				</a>
			</div>
			<div class="nav-right-mobile">
				<% if(user.member_status == 'admin') { %>
				<a href="/admin-access" class="nav-opt-container">
					<img id="admin-icon" src="/images/admin.svg" alt="admin-icon" />
					<span class="admin-mode">ADMIN PANEL</span>
				</a>
				<% } %>
				<a href="/auth-status" class="nav-opt-container">
					<img id="member-icon" src="/images/star.svg" alt="membership-icon" />
					<span class="auth-status-btn">MEMBERSHIP</span>
				</a>
				<a href="/profile" class="nav-opt-container">
					<img id="profile-icon" src="/images/profile.svg" alt="profile-icon" />
					<span class="profile-btn">PROFILE</span>
				</a>
				<a href="/logout" class="nav-opt-container">
					<img id="logout-icon" src="/images/exit.png" alt="exit-icon" />
					<span class="logout-btn">LOG OUT</span>
				</a>
			</div>
		</div>

		<div class="main-message-page-container">
			<header>
				<div class="texts">
					<h1>A <span class="member">MEMBERS ONLY</span> Clubhouse</h1>
					<h2>All <span id="traveler">travelers</span> can leave a post.</h2>
					<h2>But only <span id="member">members</span> can share the memory.</h2>
				</div>
			</header>
			<% messages.forEach(msg => { %>
			<div class="message-container">
				<div class="message-info">
					<div class="name-container">
						<p class="username <%= msg.user.member_status %>"><%= msg.user.username %></p>
					</div>
					<img class="default pfp" src="/images/profile-images/portal-pfp.png" alt="pfp" />
					<% if(user.member_status == 'admin') { %>
					<div class="delete-btn-container">
						<div class="delete-btn"><a href="/delete/<%= msg._id %>">DELETE</a></div>
					</div>
					<% } %>
				</div>
				<div class="message-texts">
					<p class="title"><%= msg.title %></p>
					<div class="texts-area">
						<p class="text"><%= msg.message %></p>
					</div>
					<p class="date"><%= msg.format_date %></p>
				</div>
			</div>
			<% }) %>
		</div>

		<div class="message-form-container">
			<form action="/message-post" method="post">
				<input type="text" name="title" id="title" placeholder="What's on your mind?" minlength="2" required />
				<textarea name="message" id="message" maxLength="200" placeholder="Prescribe some details, <%= user.username %>!" required></textarea>
				<button>Send</button>
			</form>
		</div>

		<!-- Below is hidden. Only used for js to grab info (hide_details.js) -->
		<div class="membership" style="display: none"><%= user.member_status %></div>
		<div class="pagination-navigation">
			<!-- Render pagination navigation -->
			<ul class="pagination">
				<!-- PREV -->
				<% if (currentPage > 1) { %>
					<li><a href="/?page=<%= currentPage - 1 %>">Prev</a></li>
				<% } %>
				<!-- FIRST -->
				<li><a href="/?page= 1 ">1</a></li>

				<!-- 
					* WE check number of current page and IF this value less than 5 we are output pagination links from 1 to current_page + 4.
					* IF this value more than 5 we will start output pagination link from current_page - 4 to current_page + 4, thus previous links on current_step - 5 will be hide.
				-->
				<% let i = (Number(currentPage) > 4 ? Number(currentPage) - 3 : 2) %> 

				<!-- ... -->
				<% if (i !== 2) { %>
					 <li class="disabled"><a href="/?page=<%= currentPage + 2 %>">...</a></li>
				<% } %>

				<!-- REST OF LIST (up to established limit)-->
				<% for (; i <= (Number(currentPage) + 3) && i <= totalPages - 1; i++) { %>
					<% if (i == currentPage) { %>
						<li><a class="active"><%= i %></a></li>
					<% } else { %>
						<li><a href="/?page=<%= i %>" <%= i === currentPage ? 'class="active"' : '' %>><%= i %></a></li>
					<% } %>	
					<!-- ... -->
					<% if (i == Number(currentPage) + 3 && i < totalPages) { %>
						<li class="disabled"><a href="/?page=<%= currentPage - 2 %>">...</a></li>
				  <% } %>
				<% } %>

				<!-- LAST -->
				<li><a href="/?page=<%= totalPages %>"><%= totalPages %></a></li>

				<!-- NEXT -->				
				<% if (currentPage < totalPages) { %>
					<li><a href="/?page=<%= currentPage + 1 %>">Next</a></li>
				<% } %>
			</ul>
			<a class="github-link" href="https://github.com/NovaCat35/members-only" target="blank"><img id="github-icon" src="/images/github.svg" alt="github icon"/></a>
		</div>
	</body>
	<script src="/javascripts/hide_details.js"></script>
	<script src="/javascripts/hamburger.js"></script>
</html>
