<!DOCTYPE html>
<html lang="en">
   <body>
      <div class="navbar">
         <a class="profile-btn" href="/profile/<%= currUser.url %>">Profile</a>
         <a class="logout-btn" href="/logout">Log out</a>
      </div>   
      <div class="message-container">
         <h1>Messages</h1>
         <% messages.forEach(msg => { %>
            <div class="message-container">
               <h1><%= msg.title %></h1>
               <p><%= msg.message %></p>
               <p><%= msg.user %></p>
               <p><%= msg.post_date %></p>
            </div>
         <% }) %>
      </div>

      <div class="current-user-container">
         <h2>Current Users</h2>
         <% users.forEach(user => { %>
            <div><%= user.username %></div>
         <% }) %>
      </div>
   </body>
</html>