<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/messages-page.css" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	</head>
	<body>
		<div class="navbar">
			<div class="nav-left"><a class="home" href="/messages/<%= user.url %>">HOME</a></div>
			<div class="nav-right">
				<a class="admin-mode" href="/admin-access/<%= user.url %>">Admin Access</a>
				<a class="auth-status-btn" href="/auth-status/<%= user.url %>">Status Access</a>
				<a class="profile-btn" href="/profile/<%= user.url %>">Profile</a>
				<a class="logout-btn" href="/logout">Log out</a>
			</div>
		</div>
		<div class="main-message-page-container">
			<h1>Messages</h1>
			<% messages.forEach(msg => { %>
			<div class="message-container">
				<div class="message-info">
					<p><%= msg.user.username %></p>
					<p><%= msg.format_date %></p>
				</div>
				<div class="message-texts">
					<p><%= msg.title %></p>
					<p><%= msg.message %></p>
				</div>
				<% if(user.member_status == 'admin')  { %>
					<a href="/messages/<%= user.url %>/delete">Delete</a>
				<% } %>
			</div>
			<% }) %>
		</div>

		<div class="message-form-container">
			<form action="/messages/<%= user.url %>/post" method="post">
				<input type="text" name="title" id="title" placeholder="What's on your mind?" required />
				<input type="text" name="message" id="message" placeholder="Prescribe some details, doc!" required />
				<button>Send</button>
			</form>
		</div>
	</body>
</html>
