<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/messages-page.css" />
		<link rel="icon" type="image/x-icon" href="/public/images/favicon.ico" />
	</head>
	<body>
		<div class="navbar">
			<div class="nav-left"><a class="home" href="/">HOME</a></div>
			<div class="nav-right">
				<% if(user.member_status == 'admin') { %>
					<a class="admin-mode" href="/admin-access">Admin Access</a>
				<% } %>
				<a class="auth-status-btn" href="/auth-status">Status Access</a>
				<a class="profile-btn" href="/profile">Profile</a>
				<a class="logout-btn" href="/logout">Log out</a>
			</div>
		</div>
		<div class="main-message-page-container">
			<h1>Messages</h1>
			<% messages.forEach(msg => { %>
			<div class="message-container">
				<div class="message-info">
						<p class="username <%= msg.user.member_status %>"><%= msg.user.username %></p>
						<% if(user.member_status == 'admin') { %>
							<div class="delete-btn-container">
								<div class="delete-btn"><a href="/delete/<%= msg._id %>">DELETE</a></div>
							</div>
						<% } %>
				</div>
				<div class="message-texts">
					<p class="title"><%= msg.title %></p>
					<div class="texts-area">
						<p><%= msg.message %></p>
					</div>
					<p class="date"><%= msg.format_date %></p>
				</div>
			</div>
			<% }) %>
		</div>

		<div class="message-form-container">
			<form action="/message-post" method="post">
				<input type="text" name="title" id="title" placeholder="What's on your mind?" minlength="2" required/>
				<input type="text" name="message" id="message" placeholder="Prescribe some details, doc!" required />
				<button>Send</button>
			</form>
		</div>
	</body>
	<script>
    let messageStatus = "<%= user.member_status %>";
	 let usernames = document.querySelectorAll('.username');
	 let dates = document.querySelectorAll('.date');
	 if(messageStatus == 'traveler') {
		usernames.forEach(username => {
			// username.textContent = username.textContent.replace(/[^ ]/g, "X");
			username.textContent = "Anonymous";
		})
		dates.forEach(date => {
			date.textContent = date.textContent.replace(/[^ ]/g, "x");
		})
	 }
	</script>
</html>
