<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/profilepage.css" />
		<link rel="icon" type="image/x-icon" href="/images/myfavicon.ico" />
	</head>
	<body>
		<%- include('templates/navbar') %>
		<div class="profile-container">
			<header>
				<h1 class="profile-name">Hello, <span class="<%= user.member_status %>"><%= user.username %></span></h1>
				<div class="profile-img-container">
					<img id="profile-img" src="/images/cowboybebop.png" alt="" />
				</div>
			</header>
			<div class="status-container">
				<h2>Membership Status:</h2>
				<p class="member-status <%= user.member_status %>"><%= user.member_status %></p>
			</div>
			<hr />
			<div class="profile-message-container">
				<h2>Personal Messages</h2>
				<% if(user.member_status !== 'traveler' && userMessages.length == 0)  { %>
					<div class="message-container alert">
						You have no history of personal messages. Go out there and say hello!
					</div>
				<% } %>
				
				<% if(user.member_status == 'traveler')  { %>
					<div class="message-container alert">
						Only members can access personal history! Come join us for additional swags :]
					</div>
				<% } %>

				<% if(user.member_status !== 'traveler' && userMessages.length !== 0)  { %>
					<% userMessages.forEach((message) => {%>
					<div class="message-container">
						<div class="message-header">
							<p class="title"><%- message.title %></p>
							<p class="date"><%- message.format_date %></p>
						</div>
						<div class="message-info">
							<p><%= message.message %></p>
						</div>
					</div>
					<% }); %>
				<% } %>
			</div>
			<div class="footer">
				<p>Made with ❤️‍🔥 by NovaCat35</p>
				<a class="github-link" href="https://github.com/NovaCat35/members-only" target="blank"><img id="github-icon" src="/images/github.svg" alt="github icon"/></a>
			</div>
		</div>
	</body>
</html>
