<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/profilepage.css" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	</head>
	<body>
		<%- include('templates/navbar') %>
		<div class="profile-container">
			<header>
				<h1 class="profile-name">Hello, <span class="<%= user.member_status %>"><%= user.username %></span></h1>
				<img id="profile-img" src="/images/cowboybebop.png" alt="" />
			</header>
			<div class="status-container">
				<h2>Membership Status:</h2>
				<p class="member-status <%= user.member_status %>"><%= user.member_status %></p>
			</div>
			<hr />
			<div class="profile-message-container">
				<h2>Personal Messages</h2>
				<% if(userMessages.length == 0)  { %>
					<div class="message-container alert">
						You have no history of personal messages. Go out there and say hello!
					</div>
				<% } %>
				<% userMessages.forEach((message) => {%>
				<div class="message-container">
					<div class="message-header">
						<p class="title"><%= message.title %></p>
						<p class="date"><%= message.format_date %></p>
					</div>
					<div class="message-info">
						<p><%= message.message %></p>
					</div>
				</div>
				<% }); %>
			</div>
		</div>
	</body>
</html>
