<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
	</head>
	<body>
		<%- include('templates/navbar') %>
		<div class="profile-container">
			<h1 class="profile-name">Hello <%= user.username %></h1>
			<img src="" alt="" />
			<div class="status-container">
				<p>Member Status:</p>
				<p><%= user.member_status %></p>
			</div>

			<div class="profile-message-container">
				<h2>Personal Messages</h2>
				<% userMessages.forEach((message) => {%>
				<div class="message-container">
					<p><%= message.title %></p>
					<p><%= message.message %></p>
					<p><%= message.post_date %></p>
					<p><%= message.format_date %></p>
				</div>
				<% }); %>
			</div>
		</div>
	</body>
</html>
