<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/signuppage.css" />
		<link rel="icon" type="image/x-icon" href="/images/myfavicon.ico">
	</head>
	<body>
		<%- include('templates/navbar-home') %>
		<form action="" method="post">
			<div class="form-opt">
				<label for="username">Username *</label>
				<input type="text" name="username" id="username" placeholder="Cave Johnson" maxlength="20" value="<%= (typeof username !=='undefined') ? username : '' %>" required />
			</div>
			<div class="form-opt">
				<label for="password">Password *</label>
				<div class="password-container">
					<input type="password" name="password" id="password" minlength="8" required />
					<img class="eye-icon" src="/images/eye.svg" alt="password eye-icon" />
				</div>
			</div>
			<div class="form-opt">
				<label for="password-confirm">Password Confirm *</label>
				<div class="password-container">
					<input type="password" name="password_confirmation" id="password2" minlength="8" required />
					<img class="eye-icon2" src="/images/eye.svg" alt="password eye-icon" />
				</div>
			</div>
			<% if(typeof password_error !== 'undefined') { %>
				<div class="error"><%= password_error %></div>
			<% } %>
			<% if(typeof errors !== 'undefined' && errors.length > 0) { %>
				<ul>
					<% errors.forEach(error => { %>
						<li class="error-msg"><%= error.msg %>!</li>
					<% }) %>
				</ul>
			<% } %>
			<button type="submit"><p>Sign Up</p></button>
		</form>
	</body>
	<script src="/javascripts/toggle_password.js"></script>
</html>
